/* Profile.css */
.profile-page {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 100px);
    padding-top: 50px;
    padding-bottom: 50px;
    color: #333; /* Dark text color */
}

/* Estilos generales para los enlaces */
a {
    color: #333; /* Color de texto por defecto */
    text-decoration: none; /* Quita el subrayado por defecto */
}

/* Estilo para enlaces cuando el cursor está sobre ellos */
a:hover {
    color: #007bff; /* Color al pasar el ratón sobre el enlace */
    text-decoration: underline; /* Opcional: subrayado al pasar el ratón */
}

/* Estilo para enlaces visitados */
a:visited {
    color: #555; /* Color para enlaces que ya han sido visitados */
}

/* Estilo para enlaces activos (cuando están siendo clickeados) */
a:active {
    color: #0056b3; /* Color cuando el enlace está siendo clickeado */
}

/* Enlaces dentro de elementos con clase específica */
.profile-sidebar li a {
    color: inherit; /* Hereda el color del elemento contenedor */
}


.profile-container {
    width: 100%;
    max-width: 1500px;
    min-height: calc(100vh - 100px);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    border-bottom: 1px solid #ccc;
}

.profile-pic-mobile {
    display: none;
}
.profile-header-left, .profile-header-right {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-header-left {
    width: 20%;
}

.profile-header-right {
    flex: 1; /* Each section will take up equal space */
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.profile-body {
    display: flex;
    flex: 1; /* Make the body take up remaining space */
}

.profile-body-example {
    display: flex;
    flex: 1; /* Make the body take up remaining space */
    width: 100%;
}

.profile-sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    display: block; /* Muestra el menú lateral en pantallas grandes */
}

.profile-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-sidebar li {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: #333; /* Dark text color */
    text-align: center; /* Center text */
}

.profile-sidebar li:hover {
    background-color: #eee;
}

.profile-content {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-content-example {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dark text color */
}

.form-group input, .form-group select {
    width: 100%; /* Make input/select take full width */
    padding: 8px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    color: black;
}

.update-button, .edit-button, .delete-button {
    width: 100%; /* Make button take full width */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.update-button {
    background-color: #007bff;
    color: white;
    margin-top: 10px;
}

.update-button:hover {
    background-color: #0056b3;
}

.update-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.update-button .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #28a745; /* Color de la barra de carga */
    width: 0;
    transition: width 2s ease; /* Ajusta la duración de la animación */
    z-index: -1; /* Asegura que la barra de carga esté detrás del texto */
}

.update-button.generating .progress-bar {
    width: 100%;
}

.update-button.generating {
    background-color: #28a745; /* Color cuando el botón está en carga */
}

.edit-button {
    background-color: #666; /* Gris más oscuro */
    color: #fff;
}

.edit-button:hover {
    background-color: #555; /* Gris más oscuro al pasar el ratón */
}

.delete-button {
    background-color: red;
    color: #fff;
}

.delete-button:hover {
    background-color: darkred;
}

.info-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.info-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.info-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 95%;
}

.info-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.info-content {
    flex-grow: 1;
    margin-bottom: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.info-text {
    color: #333;
}

.info-footer {
    margin-top: 10px;
    text-align: center;
}

.info-separator {
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

.day-info {
    display: grid;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.day-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.day-content {
    display: grid;
    gap: 8px;
}

.day-item {
    display: flex;
    justify-content: space-between;
}

.day-label {
    font-weight: bold;
    white-space: nowrap; /* Evita el salto de línea en las etiquetas */
    overflow: hidden;
}

.day-text {
    font-style: italic;
    font-size: 16px;
    align-items: flex-end;
}

.dropdown-button {
    display: none;
}
.dropdown-option {
    display: none;
}

@media (max-width: 1300px) {
    .info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .day-info {
        flex-direction: column;
        max-width: 100%;
    }

    .day-content {
        flex-direction: column;
    }

    .day-item {
        flex-direction: column;
    }

    .day-text {
        word-wrap: break-word; /* Asegura que el texto largo se ajuste al ancho del contenedor */
    }

    .day-footer {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 1000px) {
    .info-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .profile-content {
        max-width: 100%; /* Ajusta el tamaño del contenido en pantallas móviles */
    }

    .dropdown-button {
        display: block; /* Muestra el botón de dropdown en pantallas móviles */
    }
}

@media (max-width: 550px) {
    .profile-sidebar {
        display: none; /* Oculta el menú lateral en pantallas móviles */
    }

    .profile-header-right {
        position: relative; /* Permite que el dropdown se posicione correctamente */
        flex: 1; /* Asegura que el contenedor tome el espacio restante */
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos al centro */
        justify-content: space-between; /* Distribuye el espacio entre los elementos */
        padding: 20px;
    }
    .profile-content{
        width: 100%;
    }

    .profile-pic {
        display: none;
    }

    .profile-header-left {
        display: none;
    }

    .dropdown-option {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        display: flex; /* Usa flexbox para alinear la imagen si es necesario */
        align-items: center; /* Alinea verticalmente el contenido */
        justify-content: flex-start; /* Alinea el contenido a la izquierda */
        width: auto; /* Ajusta el ancho según el contenido */
    }

    .dropdown-image {
        width: 20px;
        height: auto;
        border-radius: 50%;
    }

    /* Estilo para el contenedor del desplegable en pantallas móviles */
    .fullscreen-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f9f9f9;
        border: none;
        box-shadow: none;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    /* Estilo para el contenido del desplegable */
    .dropdown-content {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Espacio entre los enlaces */
        width: 100%; /* Ocupa el ancho completo del contenedor */
        max-width: 400px; /* Ancho máximo para el contenido */
        text-align: center; /* Centra el texto de los enlaces */
    }

    .dropdown-content a {
        color: #333; /* Color del texto de los enlaces */
        text-decoration: none; /* Sin subrayado en los enlaces */
        font-size: 18px; /* Tamaño del texto */
        padding: 15px;
        border-radius: 4px; /* Bordes redondeados */
        transition: background-color 0.3s; /* Transición suave para el fondo */
        display: block; /* Asegura que cada enlace ocupe su propio bloque */
    }

    /* Cambia el color de fondo al pasar el ratón sobre los enlaces */
    .dropdown-content a:hover {
        background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
    }

    .dropdown-content .close-button-option {
        color: red;
    }
    .profile-pic-mobile {
        display: block;
        width: 100px;
        height: 100px;
        background-color: #ddd;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .profile-pic-mobile img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.week-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #0056b3;
}

.week-number {
    font-size: 18px;
    font-weight: bold;
}

