body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;

}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  padding: 1rem;
  color: black;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Wraps items on smaller screens */
}

.header nav ul li {
  margin: 0 1rem;
}

.header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.hero-section {
  position: relative;
  width: auto;
  height: 50vh;
  background-color: #f4f4f4;
  min-height: 550px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.impact-text {
  text-align: center;
}

.impact-text h1 {
  font-size: 2.5rem;
  margin: 0;
  color: black;
  text-shadow:
          1px 1px 2px rgba(255, 255, 255, 0.7),
          0 0 3px rgba(0, 0, 0, 0.3);
}

.impact-text p {
  margin: 1.2rem 0 0;
  font-size: 1.2rem;
  color: black;
  text-shadow:
          0.5px 0.5px 1px rgba(255, 255, 255, 0.6),
          0 0 3px rgba(0, 0, 0, 0.4);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  gap: 2rem; /* Space between the logos */
  flex-wrap: wrap; /* Allows logos to wrap on smaller screens */
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%; /* Ensure container fits within viewport */
  margin: 0 auto; /* Center container */
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Full width of container */
  max-width: 200px; /* Ensure a max width for each item */
  box-sizing: border-box;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
}


.logo {
  height: 150px;
  margin-bottom: 0.5rem;
  color: #000000;
}

.logo-item p {
  max-width: 200px;
  margin: 0 auto;
  font-size: 1.2rem
}
.testimonials-section {
  padding: 2rem;
  background-color: #f9f9f9;
}

.testimonials-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  box-sizing: border-box;
}

.testimonial-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.testimonial-name {
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 1000px) {
  .hero-section {
    height: 100%;
    min-height: 2900px;
  }

  .impact-text h1 {
    font-size: 2rem;
  }

  .impact-text p {
    font-size: 1rem;
  }

  .logo-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-item {
    min-height: auto;
    max-width: 90%;
  }
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-item {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 100%;
    min-height: 2900px;
    position: absolute;
  }

  .impact-text h1 {
    font-size: 1.75rem;
  }

  .impact-text p {
    font-size: 0.9rem;
  }

  .logo-container {
    flex-direction: column;
    gap: 2rem;
  }

  .logo-item {
    min-height: auto;
    max-width: 90%;
  }
  .testimonials-container {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 100%;
    min-height: 2900px;
    position: relative;
  }

  .impact-text h1 {
    font-size: 1.5rem;
  }

  .impact-text p {
    font-size: 0.9rem;
  }

  .logo {
    height: 120px;
  }

  .logo-item {
    max-width: 100%;
  }
}

@media (max-width: 400px) and (max-height: 700px) {
  .hero-section {
    height: 100%;
    min-height: 1700px;
    position: relative;
  }

  .impact-text h1 {
    font-size: 1.5rem;
  }

  .impact-text p {
    font-size: 0.9rem;
  }

  .logo {
    height: 120px;
  }

  .logo-item {
    max-width: 100%;
  }
}

@media (max-width: 600px) and (max-height: 700px) {
  .hero-section {
    height: 100%;
    min-height: 2300px;
    position: relative;
  }

  .impact-text h1 {
    font-size: 1.5rem;
  }

  .impact-text p {
    font-size: 0.9rem;
  }

  .logo {
    height: 120px;
  }

  .logo-item {
    max-width: 100%;
  }
}

.selected-option {
  background-color: #eee;
}